{% extends 'base.html.twig' %}

{% block title %}Vérification de l'email{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="authentication-container">
            <h1 class="h3 mb-3 font-weight-normal">Verifiez votre email</h1>
            <p>
                Un email de vérification vous a été envoyé. Veuillez cliquer sur le lien qu'il contient afin de valider votre compte avant de pouvoir vous connecter
            </p>
        </div>
    </div>
</div>
{% endblock %}