{% extends 'base.html.twig' %}

{% block title %}Mes favoris{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-image: url("{{ asset('images/wallpapers/movie/main.webp') }}");
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="h-100">
        {% if movies is defined and movies is not empty %}
            <div class="page page-movie-favorites">
                {% include "movie/partials/_movie_card.html.twig" %}
            </div>
        {% else %}
            <div class="vh-100">
                <p class="w-75 mx-auto text-center rounded bg-dark text-light mt-5 p-3 fs-3">Vous n'avez pas encore ajouté de film aux favoris</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
