{% extends 'base.html.twig' %}

{% block title %}Genres{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-image: url("{{ asset('images/wallpapers/movie/genres.webp') }}");
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="page page-movie-genres">
        {% for genre in genres %}
            <a href="{{ path('movie_genre', {'genreId': genre.id, 'genreName': genre.name, 'page': 1}) }}">{{ genre.name }}</a>
        {% endfor %}
    </div>
{% endblock %}
