<footer class="footer mt-4 bg-black">
	<div class="d-flex justify-content-center align-items-center">
		<span>
			<a class="mx-3 mt-2" href="https://github.com/SimonPineaut/CineList.git" target="_blank">
				<img src="{{ asset('icons/github.svg') }}" alt="">
			</a>
			<a class="mx-3 mt-2" href="https://www.linkedin.com/in/simonpineaut/" target="_blank">
				<img src="{{ asset('icons/linkedin.svg') }}" alt="">
			</a>
		</span>
		<span class="text-center text-light p-3">2024 © Simon PINEAUT</span>
	</div>
</footer>
