<div class="modal-element d-none" id="deleteAccountModal">
    <p>Confirmer la suppression de votre compte ?</p>
    <p class="text-danger">Cette action ne peut pas être annulée</p>
    <div class="confirm-action">
        <button class="confirm-yes submit-btn">Oui</button>
        <button class="confirm-no submit-btn">Non</button>
    </div>
</div>