<div class="modal-element d-none" id="logoutModal">
    <span>Confirmer la déconnexion ?</span>
    <div class="confirm-action">
        <button class="confirm-yes submit-btn">Oui</button>
        <button class="confirm-no submit-btn">Non</button>
    </div>
</div>