<div id="advancedSearchModal" class="bg-dark p-4" style="display: none;">
    <span class="close" id="closeModal">
        <img class="" src="{{ asset('icons/close.svg') }}">
    </span>
    <div id="formErrors" class="text-danger fw-bold"></div>
    <div>
        <div id="modalFormContainer">
        </div>
    </div>
</div>