<div id="advancedSearchModal" class="d-none bg-dark text-white p-4 position-relative">
    <span class="close" id="closeModal">
        <img src="{{ asset('icons/close.svg') }}">
    </span>
    <div>
        <div id="formErrors" class="text-danger fw-bold"></div>
        <div id="modalFormContainer">
        </div>
    </div>
</div>