<div class="modal-element d-none text-center bg-dark text-light rounded p-5 fs-3 fw-bold border border-light border-2" id="deletePlaylistModal{{ playlist.id }}">
    <span class="custom-blue-2">Confirmer la suppression de la playlist ?</span>
    <div class="d-flex justify-content-between">
        <button id="confirmYes" class="flex-fill submit-btn">Oui</button>
        <button id="confirmNo" class="flex-fill submit-btn">Non</button>
    </div>
</div>