<div class="modal-element d-none text-center bg-dark text-light rounded p-5 fs-3 fw-bold border border-light border-2" id="deleteAccountModal">
    <p>Confirmer la suppression de votre compte ?</p>
    <p class="text-danger fs-5">Cette action ne peut pas être annulée</p>
    <div class="d-flex justify-content-between">
        <button id="confirmYes" class="flex-fill submit-btn">Oui</button>
        <button id="confirmNo" class="flex-fill submit-btn">Non</button>
    </div>
</div>