{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation envoyé{% endblock %}

{% block body %}
    <div class="authentication-container">
        <p>
            Si un compte avec cet email existe, un email vient de vous être envoyé dans lequel vous trouverez un lien pour réinitialiser votre mot de passe.
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle', 'fr') }}.
        </p>
        <p>Si vous ne recevez pas l'email, vérifiez votre dossier de spams ou <a href="{{ path('forgot_password_request') }}">essayez à nouveau</a>.</p>
    </div>
{% endblock %}
