.modal-element {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;

    background-color: #ddd;
    color: #212529;
    padding: 20px;
    border-radius: 6px;
    z-index: 100;
    font-size: 25px;
    font-weight: 600;
    padding: 20px;

    .confirm-action {
        display: flex;
        justify-content: space-between;

        button {
            flex: 1;
        }
    }

    .modal-movie-title {
        color: #3999c6;
        font-weight: 800;
        margin: 0 10px;
    }
}

.modal-element:hover .page {
    cursor: none;
}