body {
    height: 100%;
    margin-top: 88px;
    margin-bottom: 100px;
}

.page {
    width: 90%;
    margin: 0 auto;
}

.action-icon {
    height: 30px;
    position: absolute;
    top: 5px;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.n-a {
    padding: 15px;
    background-color: #f8f9fa;
}

.right {
    right: 5px;
}

.toast-top-right {
    margin-top: 80px;
}

.custom-blue-1 {
    color: #22b4e2;
}

.custom-blue-2 {
    color: #a9c9e4;
}