.sticky-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;

    .search-icon,
    .user-icon,
    .logout-icon {
        width: 34px;
    }

    .search-icon {
        padding: 5px;

        &:hover {
            transform: scale(1.1);
        }
    }

    .active {
        border-bottom: 2px solid #f8f9fa;
        color: #f8f9fa;
    }

    .badge-container {
        position: relative;
    
        span {
            position: absolute;
            right: -4px;
            top: -4px;
        }
    }
}
