.pagination-link {
    display: flex;
    align-items: center;
    padding: 2px 8px;
    margin: 10px;
    text-decoration: none;
    background-color: #212529;
    border-radius: 5px;
    color: #f8f9fa;
    font-size: 19px;
    font-weight: 600;

    &:hover {
        color: #212529;
        background-color: #f8f9fa;
    }
}