.playlist-modal {
    z-index: 5;

    .close-playlist-modal-btn {
        height: 20px;
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 1;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}