.advanced-search {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
    fieldset {
        text-align: center;
    }

    label {
        text-align: start;
    }

    .select2-selection__choice__display {
        background-color: #22b4e2;
    }

    .select2-container {
        text-align: start;
    }
}

#suggestions {
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: #333;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

#suggestions .suggestion-item {
    padding: 10px;
    cursor: pointer;
}

#suggestions .suggestion-item:hover {
    background-color: #22b4e2;
}