<div class="bg-dark p-1 text-center">
    <p>
        <strong class="custom-blue-1">{{ totalResults }}</strong>
        <span class="text-light"> résultat(s) pour votre recherche</span>
    </p>
</div>