.page-movie-favorites,
.page-movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin: 25px auto 0 auto;
}

.movie {
    display: flex;
    flex-direction: column;
    position: relative;

    .movie-img-link {
        display: flex;
        flex-grow: 1;
        height: 100%;
    }
}

.movie-year-img {
    margin: 0 8px;
    width: 20px;
}