.person-text {
   height: 534px;
}

.person-biography {
   height: 534px;
   overflow-y: scroll;
}

.person-img {
   width: 100%;
   border-radius: 6px 6px 0 0;

   &:hover {
      transform: scale(1.02);
   }
}

.person-top-movies {
   width: 100%;
}