{% extends 'base.html.twig' %}

{% block title %}Personnes{% endblock %}
 
{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-image: url("{{ asset('images/wallpapers/movie/main.webp') }}");
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block body %}
    {% if app.request.get('_route') == 'movie_advanced_search' %}
        {% include "partials/_search_results_reminder.html.twig" %}
    {% endif %}
    {% if results is defined and results is not empty %}
        {% include "partials/_pagination.html.twig" %}
        <div class="page page-movies">
            {% include "person/partials/_person_card.html.twig" %}
        </div>
        {% include "partials/_pagination.html.twig" %}
    {% else %}
        <div class="vh-100">
            <p class="w-75 mx-auto text-center rounded bg-dark text-light mt-5 p-3 fs-3">Aucune personne trouvée</p>
        </div>
    {% endif %}
{% endblock %}
